
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    transition: background 0.4s;
    background-color: #ffffff;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.section {
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.highlight {
    color: #007bff;
}

.project-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
}